{% extends 'home/base.html' %}
{%block content%}
    <div class="grid">
        <h2 class="card-title mt-4">Mostrando usuarios</h2>
        <div class="row">
            {% for user in lista_usuario %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% load static %}
                    <img class="card-img-top" src="{% static 'img/usuario.jpg' %}" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">Datos del Usuario</h5>
                        <p class="card-text"><strong>Nombre:</strong> {{ user.nombre }}</p>
                        <p class="card-text"><strong>Apellido:</strong> {{ user.apellido }}</p>
                        <p class="card-text"><strong>RUT:</strong> {{ user.rut }}</p>
                        <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
                        <p class="card-text">
                            <small class="text-muted"><strong>Fecha de registro:</strong> {{ user.fecha_registro }}</small>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content%}
